html {
    background-image: linear-gradient(to bottom right, #404b69, #0a0c11);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #bfd0d6;
    max-width: 950px;
    margin: auto;
    background-color: #232a3fcb;
    border: 1px solid black;
}

h1 {
    color: #dbedf3;
}

h2 {
    color: #dbedf3;
}

hr {
    border: 1px solid #747474;
}


.container {
    width: 95%;
    margin: auto;
}

.content {
    display: inline-block;
    width: 100%;
    margin: auto;
}

.author {
    color: #00818a;
}

.page-title {
    background-color: #131722cb;
    border: 1px solid black;
    text-align: center;
}

a:link {
  color: rgb(96, 138, 177);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(96, 138, 177);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(96, 138, 177);
  background-color: transparent;
  text-decoration: underline;
}

pre code {
    background-color: rgba(36, 36, 36, 0.384);
    border: 1px solid rgb(0, 0, 0);
    display: block;
    padding: 20px;
    color: whitesmoke;
  }

code {
    color: rgb(179, 179, 0);
  }